<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- MUST in hex format, may the same as header-color. This color is for android chrome browser. -->
  <meta name="theme-color" content="$head-theme-colour$">

  <!-- Metadata. -->
  <meta name="keywords" content="haskell,blog,bigmoon"/>
  <title>$if(title)$$title$$else$$head-title$$endif$</title>
  <meta name="description" content="$if(teaser-short)$$teaser-short$$else$$head-title$$endif$">
  <link rel="canonical" href="$url$">
  <link rel="alternate" type="application/atom+xml" title="$title$" href="/feed.xml" />

  <!-- Stylesheets. -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link media="all" rel="stylesheet" type="text/css" href="/lib/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/lib/material-scrolltop/material-scrolltop.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />

  <!-- OGP -->
  <meta property="og:title" content="$if(title)$$title$$else$$head-title$$endif$" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="$url$" />
  <!-- <meta property="og:image" content=" サムネイル画像の URL" /> -->
  <meta property="og:site_name" content="$if(title)$$title$$else$$head-title$$endif$" />
  <meta property="og:description" content="$if(teaser-short)$$teaser-short$$else$$head-title$$endif$" />

  <meta name="twitter:card" content="summary" />
  <!-- <meta name="twitter:site" content="@[ Twitter ID]" /> -->
  <!-- <meta name="twitter:player" content="@[ Twitter ID]" /> -->

  $partial("partials/check.html")$
</head>
