<div class="nav-wrapper">
  <a href="/"><span class="site-title">$site-title$</span></a>
  <a href="#" data-activates="mobile-navbar" class="button-collapse">
    <i class="mdi mdi-menu white-text"></i>
  </a>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
      <a href="/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-home left indigo-text text-lighten-3"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-account-circle left indigo-text text-lighten-3"></i>
        About
      </a>
    </li>
    <li>
      <a href="/books/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-book-open left indigo-text text-lighten-3"></i>
        Books
      </a>
    </li>
    <li>
      <a href="/stack/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-wrench left indigo-text text-lighten-3"></i>
        Development
      </a>
    </li>
    <li>
      <a href="/quiz/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-comment-question-outline left indigo-text text-lighten-3"></i>
        Quiz
      </a>
    </li>
    <li>
      <a href="/libraries/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-package-variant left indigo-text text-lighten-3"></i>
        Libraries
      </a>
    </li>
    <li>
      <a href="/yesod/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-earth left indigo-text text-lighten-3"></i>
        Yesod
      </a>
    </li>
    <li>
      <a href="/feed.xml" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-rss left indigo-text text-lighten-3"></i>
        Feed
      </a>
    </li>
  </ul>

  <ul class="side-nav" id="mobile-navbar">
    <li>
      <a href="/" class="waves-effect waves-teal black-text">
        <i class="mdi mdi-home left green-text"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="navbar-text-colour-mobile">
        <i class="mdi mdi-account-circle left blue-text"></i>
        About
      </a>
    </li>
    <li>
      <a href="/books/" class="navbar-text-colour-mobile">
        <i class="mdi mdi-book-open left blue-text"></i>
        Books
      </a>
    </li>
    <li>
      <a href="/stack/" class="navbar-text-colour-mobile">
        <i class="mdi mdi-wrench left blue-text"></i>
        Development
      </a>
    </li>
    <li>
      <a href="/quiz/" class="navbar-text-colour-mobile">
        <i class="mdi mdi-comment-question-outline left blue-text"></i>
        Quiz
      </a>
    </li>
    <li>
      <a href="/libraries/" class="navbar-text-colour-mobile">
        <i class="mdi mdi-package-variant left blue-text"></i>
        Libraries
      </a>
    </li>
    <li>
      <a href="/yesod/" class="navbar-text-colour-mobile">
        <i class="mdi mdi-earth left blue-text"></i>
        Yesod
      </a>
    </li>
  </ul>
</div>
