<div class="nav-wrapper">
  <span class="site-title">$site-title$</span>
  <a href="#" data-activates="mobile-navbar" class="button-collapse">
    <i class="mdi mdi-menu white-text"></i>
  </a>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
      <a href="/" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-home left indigo-text text-lighten-3"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-account-circle left indigo-text text-lighten-3"></i>
        About
      </a>
    </li>
    <li>
      <a href="/archive.html" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-archive left indigo-text text-lighten-3"></i>
        Archive
      </a>
    </li>
    <li>
      <a href="/feed.xml" class="$navbar-text-colour-desktop$">
        <i class="mdi mdi-rss left indigo-text text-lighten-3"></i>
        Feed
      </a>
    </li>
  </ul>

  <ul class="side-nav" id="mobile-navbar">
    <li>
      <a href="/" class="waves-effect waves-teal black-text">
        <i class="mdi mdi-home left green-text"></i>
        Home
      </a>
    </li>
    <li>
      <a href="/about.html" class="navbar-text-colour-mobile">
        <i class="mdi mdi-account-circle left blue-text"></i>
        About
      </a>
    </li>
    <li>
      <a href="/archive.html" class="navbar-text-colour-mobile">
        <i class="mdi mdi-archive left blue-text"></i>
        Archive
      </a>
    </li>
    <li>
      <a href="/feed.xml" class="navbar-text-colour-mobile">
        <i class="mdi mdi-rss left red-text"></i>
        Feed
      </a>
    </li>
  </ul>
</div>
