<ul class="post-list">
    $for(posts)$
      <li class="card-panel hoverable">
        <span class="grey-text right">$date$</span>
        <a class="post-link" href="$url$">$title$</a>

        <button data-target=".$path$" class="waves-effect waves-light btn modal-trigger" style="padding: 0 1.2rem;">overview
          <i class="mdi mdi-send right"></i>
        </button>

        <div id=".$path$" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>$title$</h4>
            <p>$teaser$</p>
            <div>
              $if(tags)$
                <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
                <div class="chip">$tags$</div>
              $endif$
            </div>
          </div>
          <div class="modal-footer">
            <a href="$url$" class="waves-effect btn-flat grey-text text-darken-4 right">read more</a>
            <a class="modal-action modal-close waves-effect btn-flat grey-text text-darken-4 left">close</a>
          </div>
        </div>
      </li>
    $endfor$
</ul>
