<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  $partial("partials/head.html")$

  <body>

    <header class="site-header">
      <nav class="nav-extended $header-colour$">
        $partial("partials/navbar.html")$
      </nav>
    </header>

    <div class="site-container" id="tab-main">
      <div class="wrapper">
        $body$
      </div>
    </div>

    $partial("partials/footer.html")$

    <!-- scrolltop button -->
    <button class="material-scrolltop waves-effect waves-light hide-on-small-only" type="button">
      <i class="mdi mdi-arrow-up-bold small white-text"></i>
    </button>

    <!-- jquery -->
    <script type="text/javascript" src="/lib/jquery-min.js"></script>
    <!-- materialize -->
    <script src="/lib/materialize/js/materialize.min.js"></script>
    <!-- <\!-- Material ScrollTop plugin -\-> -->
    <script src="/lib/material-scrolltop/material-scrolltop.js"></script>
    <!-- main -->
    <script src="/js/init.js"></script>
    <script src="/js/main.js"></script>

  </body>

</html>
