<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
    <div class="post-section">

      <p class="grey-text">
        <i class="mdi mdi-calendar"></i>&nbsp;
        Posted on $date$
        $if(translator)$
          &nbsp;&nbsp;<i class="mdi mdi-account-circle"></i>&nbsp;
          translated by <a href="https://github.com/$translator$" target="_blank">@$translator$</a>
        $endif$
        $if(author)$
          &nbsp;&nbsp;<i class="mdi mdi-account-circle"></i>&nbsp;
          author by $author$
        $endif$
        &nbsp;
        $if(categories)$
          <i class="mdi mdi-folder"></i>&nbsp;
          <span class="capitalize">$categories$</span>
          <!-- &emsp;<i class="mdi mdi-refresh"></i>&nbsp;UPDATE: {% if page.update %}{{ page.update | date: "%b %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%b %-d, %Y" }}{% endif %} -->
        $endif$
      </p>

      <div class="post-header">
        <h1 class="post-title">$title$</h1>

        $if(tags)$
          <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
          <div class="chip">$tags$</div>
        $endif$
      </div>

      <article class="post-content">
        $body$
      </article>

      $partial("partials/share.html")

    </div>
  </div>

  <!-- {% if page.mathjax %} -->
  <!--   {% include mathjax_support.html %} -->
  <!-- {% endif %} -->

</div>
